<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Practice</title>
</head>
<body>
    <h1>Stephen's Quotes</h1>
    <form action="/quotes" method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="quote" placeholder="Quote" />
        <button type="submit">Submit</button>
    </form> 
    <h2>Quotes</h2>
    <ul class="quotes">
    <!-- Loop through quotes -->
    <% for(var i = 0; i < quotes.length; i++) {%>
    <li class="quote">
        <!-- Output name from the iterated quote object -->
        <span><%= quotes[i].name %></span>:
        <!-- Output quote from the iterated quote object -->
        <span><%= quotes[i].quote %></span>
    </li>
    <% } %>
    </ul>
    <div>
        <h2>Edit Quotes</h2>
        <p>Replace first quote with a new quote</p>
        <button id="update-button">Replace the Quote</button>
    </div>
    <div>
        <h2>Remove Last Quote</h2>
        <p>
          Delete a quote from an author. Will not do anything if the autor is not present
        </p>
        <button id="delete-button">Delete Quote</button>
    </div>
    <div id="message"></div>
    <script src="/main.js"></script>
</body>
</html>